@model GoShoppingViewModel


<h2>@Model.ListDetails.ListName</h2>
<form method="post" action="/List/ShoppingDone">
    @foreach (var i in Model.Items)
    {
        <div>
            <input type="checkbox" id="@i.ItemId" name="selectedItems" value="@i.ItemId" />
            <label for="@i.ItemId">@i.ItemName</label>
        </div>
    }
    <input type="hidden" name="listId" value="@Model.ListDetails.ListId" />
    <input type="submit" value="Save" />
</form>
